// Masthead
//
// Super small header above the content for site name and short description.

.header-icon {
  display: inline-block;
  vertical-align: middle;

  img {
    margin: 5px 0 0 0;
  }
}

.header-menu {
  display: block;
  float: right;

  li {
    list-style: none;
  }

  a {
    vertical-align: middle;
    display: inline;
    color: #38bb6c;
    
    font-weight: 600;
  }
  a:hover {
    text-decoration: none;
    color: #655748;
    transition: all 0.3s ease-in-out;
  }
}

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  display: inline-block;
  vertical-align: middle;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
