---
layout: page
---
<!-- <h2>Posts related to: {{ page.title }}</h2> -->

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories[page.category] %}
<div class="post-preview">
    
        <h1 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">            
                {{ post.title }}
            </a>
        </h1>
    
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      {{ post.date | date: "%m.%d.%Y" }}
    </time>
    
    {% if post.excerpt %}
        <p class="post-subtitle">
            {{ post.excerpt }}
        </p>
    {% endif %}
    <p><a href="{{ site.baseurl }}{{ post.url }}">читать...</a></p> 
    
</div>
<hr>
{% endfor %}